.logo {
  height: 64px;
  padding: 2em;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logoImage {
  width: 100%;
  filter: invert(1) brightness(10);
}

.content {
  border-radius: 8px;
}

.footer {
  text-align: center;
}

.dashboardPage {
  width: 100%;
}

.statsRow {
  margin-bottom: 24px;
}

.tableRow {
  margin-bottom: 24px;
}
